<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.im.common.mapper.QtechImEqsInfoMapper">

    <resultMap id="qtechImCommonInfoResult" type="ImEqsNetAndRemoteInfo">
        <result property="factoryName" column="company_name" />
        <result property="deptName" column="dep_name" />
        <result property="groupName" column="group_name" />
        <result property="deviceType" column="devicetype" />
        <result property="eqId" column="device_m_id" />
        <result property="mcId" column="machine_no" />
        <result property="simId" column="pbox_id" />
        <result property="remoteCode" column="remote_control" />
        <result property="remoteStatus" column="remote_status" />
    </resultMap>

    <resultMap id="ImReportBaseInfoResult" type="ImReportBaseInfo">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="factoryName" column="company_name" jdbcType="VARCHAR"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
        <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
        <result property="deviceType" column="device_type" jdbcType="VARCHAR"/>
        <result property="eqId" column="eq_id" jdbcType="VARCHAR"/>
        <result property="mcId" column="mc_id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listEqsInfo" resultMap="qtechImCommonInfoResult">
        with ta as (
            select
                b.company_name,
                b.dep_name,
                b.group_name,
                a.device_m_id,
                a.devicename,
                a.devicetype,
                a.machine_no,
                c.pbox_id
            from
                QT_MODEL_EMS.T_DEVICE_CALCGD1JH1U82GWWIONK a
            left join QT_MODEL_EMS.V_CODE_NAME b
                on
                a.hierarchy_code = b.hierarchy_show_code
            left join QT_MODEL_EMS.T_PBOX_INFO c
                on
                c.dev_id = a.device_id
            left join QT_MODEL_EMS.T_COLLECTOR_PROGRAM d
                on
                c.collector_program_id = d.id
            where
                dep_name IN
                <foreach item="item" index="index" collection="deptNames" open="(" separator="," close=")">
                    #{item}
                </foreach>

                <choose>
                    <when test = "imEqsNetAndRemoteInfo.deviceType != null and imEqsNetAndRemoteInfo.deviceType != ''">
                        and devicetype = #{imEqsNetAndRemoteInfo.deviceType}
                    </when>
                    <otherwise>
                        AND devicetype IN
                        <foreach item="item" index="index" collection="deviceTypes" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>),

            tb as (
                select
                    eqid,
                    machine_no,
                    is_valid,
                    device_type,
                    version,
                    ask_date
                from
                    QT_MODEL_MES.T_PARAMETER_RESULT
                    <where>
                        ask_date > minutes_sub(now(), 5)
                        <choose>
                            <when test = "imEqsNetAndRemoteInfo.deviceType != null and imEqsNetAndRemoteInfo.deviceType != ''">
                                and device_type = #{imEqsNetAndRemoteInfo.deviceType}
                            </when>
                            <otherwise>
                                and device_type IN
                                <foreach item="item" index="index" collection="deviceTypes" open="(" separator="," close=")">
                                    #{item}
                                </foreach>
                            </otherwise>
                        </choose>
                    </where>),

            tc as (
                select
                    distinct eqid
                from tb),

            td as (
                select
                    case
                        when a.company_name is null then '总计'
                        else a.company_name
                    end as company_name,
                    case
                        when a.group_name is null then '小计'
                        else a.group_name
                    end as group_name,
                    <choose>
                        <when test = "imEqsNetAndRemoteInfo.deviceType == null or imEqsNetAndRemoteInfo.deviceType == ''">
                            case
                                when a.devicetype is null then '小计'
                                else a.devicetype
                            end as devicetype,
                        </when>
                    </choose>
                    count(1) offline_eqs
                from
                    ta a
                where
                    a.device_m_id not in (select eqid from tc)
                group by
                    <choose>
                        <when test = "imEqsNetAndRemoteInfo.deviceType != null and imEqsNetAndRemoteInfo.deviceType != ''">
                            rollup (a.company_name, a.group_name)
                        </when>
                        <otherwise>
                            rollup (a.company_name, a.group_name, a.devicetype)
                        </otherwise>
                    </choose>),

            te as (
                select
                    case
                        when a.company_name is null then '总计'
                        else a.company_name
                    end as company_name,
                    case
                        when a.group_name is null then '小计'
                        else a.group_name
                    end as group_name,
                    <choose>
                        <when test = "imEqsNetAndRemoteInfo.deviceType == null or imEqsNetAndRemoteInfo.deviceType == ''">
                            case
                                when a.devicetype is null then '小计'
                                else a.devicetype
                            end as devicetype,
                    </when>
                    </choose>
                    count(1) ttl_eqs
                from
                    ta a
                group by
                    <choose>
                        <when test = "imEqsNetAndRemoteInfo.deviceType != null and imEqsNetAndRemoteInfo.deviceType != ''">
                            rollup (a.company_name, a.group_name)
                        </when>
                        <otherwise>
                            rollup (a.company_name, a.group_name, a.devicetype)
                        </otherwise>
                    </choose>)

        select
            case
                when a.company_name is null then '总计'
                else a.company_name
            end as company_name,
            case
                when a.group_name is null then '小计'
                else a.group_name
            end as group_name,
            <choose>
                <when test = "imEqsNetAndRemoteInfo.deviceType == null or imEqsNetAndRemoteInfo.deviceType == ''">
                    case
                        when a.devicetype is null then '小计'
                        else a.devicetype
                    end as devicetype,
                </when>
            </choose>
            a.ttl_eqs,
            nvl(b.offline_eqs, 0) offline_eqs
        from te a
        left join td b
            on a.company_name = b.company_name and a.group_name = b.group_name
            <choose>
                <when test = "imEqsNetAndRemoteInfo.deviceType == null or imEqsNetAndRemoteInfo.deviceType == ''">
                    and a.devicetype = b.devicetype
                </when>
            </choose>
    </select>

    <select id="iotQcpStatus" resultType="java.lang.Boolean">
        select count(1) > 0 from QT_MODEL_MES.T_PARAMETER_RESULT
        <where>
            <choose>
                <when test="imReportBaseInfo.deviceType != null and imReportBaseInfo.deviceType != ''">
                    and device_type = #{imReportBaseInfo.deviceType}
                </when>
                <otherwise>
                    and device_type IN
                    <foreach item="item" index="index" collection="deviceTypes" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
            <choose>
                <when test="imReportBaseInfo.params.beginTime != null and imReportBaseInfo.params.beginTime != '' and imReportBaseInfo.params.endTime != null and imReportBaseInfo.params.endTime != ''">
                    and ask_date between #{imReportBaseInfo.params.beginTime} and #{imReportBaseInfo.params.endTime}
                </when>
                <otherwise>
                    and ask_date > minutes_sub(now(), 5)
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="iotAaStatus" resultType="java.lang.Boolean">
        select count(1) > 0 from qtech_eq_dwd.im_aa_list_parsed_detail
        <where>
            <choose>
                <when test="params.beginTime != null and params.endTime != null">
                    and received_time between #{params.beginTime} and #{params.endTime}
                </when>
                <otherwise>
                    and received_time > minutes_sub(now(), 5)
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="iotStatus" resultType="java.lang.Boolean">
        select count(1) > 0 from QT_MODEL_DDC.ALL_DEVICE_REMOTE_CONTROL_DETAIL where receive_date > minutes_sub(now(), 5)
    </select>
</mapper>