<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.im.common.mapper.QtechImFactoryNamesMapper">
    <resultMap id="ImReportBaseInfoResult" type="ImReportBaseInfo">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="factoryName" column="company_name" jdbcType="VARCHAR"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
        <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
        <result property="deviceType" column="device_type" jdbcType="VARCHAR"/>
        <result property="eqId" column="eq_id" jdbcType="VARCHAR"/>
        <result property="mcId" column="mc_id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getHistoryFactoryNames" resultMap="ImReportBaseInfoResult">
        select
            distinct company_name
        from
            qtech_eq_ods.ems_t_device a
        inner join qtech_eq_ods.ems_t_pbox_info c on
            c.dev_id = a.device_id
        inner join qtech_eq_ods.ems_v_code_name b on
            a.hierarchy_code = b.hierarchy_show_code
        inner join (
            select
                distinct sim_id
            from
                qtech_eq_dwd.im_aa_list_chk_result_detail
            <where>
                <if test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != ''">
                    and chk_dt between #{params.beginTime} and #{params.endTime}
                </if>
            </where>
        ) d on
            c.pbox_id = d.sim_id
        order by
            case
                when company_name like '%台虹%' then 1
                when company_name like '%古城%' then 2
                when company_name like '%India%' then 3
                else 4
            end
    </select>

    <select id="getLatestFactoryNames" resultMap="ImReportBaseInfoResult">
        select
            distinct company_name
        from
            qtech_eq_ods.ems_t_device a
        inner join qtech_eq_ods.ems_t_pbox_info c on
            c.dev_id = a.device_id
        inner join qtech_eq_ods.ems_v_code_name b on
            a.hierarchy_code = b.hierarchy_show_code
        inner join (
            select
                distinct sim_id
            from
                qtech_eq_ads.im_eq_reverse_control_info
            where source = 'aa-list'
        ) d on
            c.pbox_id = d.sim_id
        order by
            case
                when company_name like '%台虹%' then 1
                when company_name like '%古城%' then 2
                when company_name like '%India%' then 3
                else 4
            end
    </select>

    <select id="getWireFactoryNames" resultMap="ImReportBaseInfoResult">
        select distinct factory_name as company_name
        from qtech_biz_2.dwd_wb_wire_usage_detail
        <where>
            <if test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != ''">
                and create_date between #{params.beginTime} and #{params.endTime}
            </if>
        </where>
        order by company_name asc;
    </select>

    <select id="getWbOlpFactoryNames" resultMap="ImReportBaseInfoResult">
        select distinct company_name
        from qtech_eq_ods.ems_t_device a
                 inner join qtech_eq_ods.ems_t_pbox_info c on
            c.dev_id = a.device_id
                 inner join qtech_eq_ods.ems_v_code_name b on
            a.hierarchy_code = b.hierarchy_show_code
                 inner join (select distinct sim_id as sim_id
                             from qtech_eq_dwd.im_wb_olp_chk_result_detail
                             <where>
                                 <choose>
                                     <when test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != ''">
                                        and dt between #{params.beginTime} and #{params.endTime}
                                     </when>
                                     <otherwise>
                                        and dt > date_sub(now(), interval 1 day)
                                     </otherwise>
                                 </choose>
                            </where>) d on
            c.pbox_id = d.sim_id
    </select>

    <select id="getWbOlpLatestFactoryNames"  resultMap="ImReportBaseInfoResult">
        select distinct company_name
        from qtech_eq_ods.ems_t_device a
                 inner join qtech_eq_ods.ems_t_pbox_info c on
            c.dev_id = a.device_id
                 inner join qtech_eq_ods.ems_v_code_name b on
            a.hierarchy_code = b.hierarchy_show_code
                 inner join (select distinct sim_id as sim_id
                             from qtech_eq_ads.im_eq_reverse_control_info
                             where source = 'wb-olp') d on
            c.pbox_id = d.sim_id
    </select>

    <select id="getEqnFactoryNames" resultMap="ImReportBaseInfoResult">
        select distinct b.company_name
        from QT_MODEL_EMS.T_DEVICE_CALCGD1JH1U82GWWIONK a
                 left join QT_MODEL_EMS.V_CODE_NAME b on
            a.hierarchy_code = b.hierarchy_show_code
        where devicetype in ('AA', 'DB', 'HM', 'HM')
    </select>

    <select id="getQcpFactoryNames" resultMap="ImReportBaseInfoResult">
        with ta as (
        select
            distinct eqid,
            machine_no,
            is_valid,
            device_type,
            part_spec,
            version
        from
            QT_MODEL_MES.T_PARAMETER_RESULT
        where
            ask_date > minutes_sub(now(), 5)
            and device_type in ('AA', 'WB', 'DB', 'HM')),

        tb as (
                 select b.company_name,
                        b.group_name,
                        a.devicetype,
                        e.eqid as eq_id,
                        a.machine_no as mc_id,
                        e.part_spec as prod_type,
                        e.version as description
                 from QT_MODEL_EMS.T_DEVICE_CALCGD1JH1U82GWWIONK a
                          left join QT_MODEL_EMS.V_CODE_NAME b
                                    on a.hierarchy_code = b.hierarchy_show_code
                          left join QT_MODEL_EMS.T_PBOX_INFO c
                                    on c.dev_id = a.device_id
                          left join QT_MODEL_EMS.T_COLLECTOR_PROGRAM d
                                    on c.collector_program_id = d.id
                          inner join ta e
                                    on a.device_m_id = e.eqid
                 where dep_name like '%COB%'
                   and a.devicetype in ('AA', 'WB', 'DB', 'HM'))

        select distinct a.company_name
        from tb a
    </select>

</mapper>