<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.im.common.mapper.QtechImGroupNamesMapper">
    <resultMap id="ImReportBaseInfoResult" type="ImReportBaseInfo">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="factoryName" column="company_name" jdbcType="VARCHAR"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
        <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
        <result property="deviceType" column="device_type" jdbcType="VARCHAR"/>
        <result property="eqId" column="eq_id" jdbcType="VARCHAR"/>
        <result property="mcId" column="mc_id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getHistoryGroupNames" resultMap="ImReportBaseInfoResult">
        select distinct group_name
        from (
            select
                distinct company_name, group_name
            from
                qtech_eq_ods.ems_t_device a
            inner join qtech_eq_ods.ems_t_pbox_info c on
                c.dev_id = a.device_id
            inner join qtech_eq_ods.ems_v_code_name b on
                a.hierarchy_code = b.hierarchy_show_code
            inner join (
                select
                    distinct sim_id
                from
                    qtech_eq_dwd.im_aa_list_chk_result_detail
                <where>
                    <if test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != ''">
                        and chk_dt between #{params.beginTime} and #{params.endTime}
                    </if>
                </where>
            ) d on
                c.pbox_id = d.sim_id) ta
        <where>
            <if test="factoryName != null and factoryName != ''">
                and company_name = #{factoryName}
            </if>
        </where>
        order by
            case
                when group_name like '%试产一%' then 11
                when group_name like '%试产二%' then 12
                when group_name like '%试产三%' then 13
                when group_name like '%一%' then 1
                when group_name like '%二%' then 2
                when group_name like '%三%' then 3
                when group_name like '%四%' then 4
                when group_name like '%五%' then 5
                when group_name like '%六%' then 6
                when group_name like '%七%' then 7
                when group_name like '%八%' then 8
                when group_name like '%九%' then 9
                when group_name like '%十%' then 10
                else 14
            end
    </select>

    <select id="getLatestGroupNames" resultMap="ImReportBaseInfoResult">
        select distinct group_name
        from (
            select
                distinct company_name, group_name
            from
                qtech_eq_ods.ems_t_device a
            inner join qtech_eq_ods.ems_t_pbox_info c on
                c.dev_id = a.device_id
            inner join qtech_eq_ods.ems_v_code_name b on
                a.hierarchy_code = b.hierarchy_show_code
            inner join (
                select
                    distinct sim_id
                from
                    qtech_eq_ads.im_eq_reverse_control_info
                where source = 'aa-list'
                ) d on
                    c.pbox_id = d.sim_id) ta
            <where>
                <if test="factoryName != null and factoryName != ''">
                    and company_name = #{factoryName}
                </if>
            </where>
            order by
                case
                    when group_name like '%试产一%' then 11
                    when group_name like '%试产二%' then 12
                    when group_name like '%试产三%' then 13
                    when group_name like '%一%' then 1
                    when group_name like '%二%' then 2
                    when group_name like '%三%' then 3
                    when group_name like '%四%' then 4
                    when group_name like '%五%' then 5
                    when group_name like '%六%' then 6
                    when group_name like '%七%' then 7
                    when group_name like '%八%' then 8
                    when group_name like '%九%' then 9
                    when group_name like '%十%' then 10
                    else 14
                end
    </select>

    <select id="getWireGroupNames" resultMap="ImReportBaseInfoResult">
        select distinct workshop as group_name from qtech_biz_2.dwd_wb_wire_usage_detail
        <where>
            <if test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != ''">
                and create_date between #{params.beginTime} and #{params.endTime}
            </if>
            <if test="factoryName != null and factoryName != ''"> and factory_name = #{factoryName} </if>
        </where>
        order by
            case
                when group_name like '%试产一%' then 11
                when group_name like '%试产二%' then 12
                when group_name like '%试产三%' then 13
                when group_name like '%一%' then 1
                when group_name like '%二%' then 2
                when group_name like '%三%' then 3
                when group_name like '%四%' then 4
                when group_name like '%五%' then 5
                when group_name like '%六%' then 6
                when group_name like '%七%' then 7
                when group_name like '%八%' then 8
                when group_name like '%九%' then 9
                when group_name like '%十%' then 10
                else 14
            end
    </select>
</mapper>