<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.im.wb.mapper.WbOlpIndexMapper">

    <resultMap id="WbOlpTrendingVoResult" type="WbOlpTrending">
        <result property="dt" column="dt"/>
        <result property="statusCode" column="code"/>
        <result property="amount" column="cnt"/>
    </resultMap>

    <select id="getModelAvgCnt" resultType="java.lang.Long">
        select round(avg(line_count))
        from IMBIZ.WB_OLP_STD_MODEL_INFO
        where status = 1
    </select>

    <select id="getModelsTtlCnt" resultType="java.lang.Long">
        select count(1) as modelsTtlCnt
        from IMBIZ.WB_OLP_STD_MODEL_INFO
        where status = 1
    </select>

    <select id="getWbOlpTrending" resultMap="WbOlpTrendingVoResult">
        select to_date(`dt`) 'dt', code,
               count(1) cnt
        from qtech_eq_dwd.im_wb_olp_chk_result_detail
        where `dt` >= days_sub(to_date(now()), 30)
        group by to_date(`dt`), code
        order by 1 asc, 2 asc
    </select>

</mapper>