<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.im.wb.mapper.WbOlpStdModelInfoMapper">
    <resultMap type="WbOlpStdModInfo" id="WbOlpStdModInfoResult">
        <result property="sid" column="sid" />
        <result property="mcId" column="mc_id" />
        <result property="lineCount" column="line_count" />
        <result property="status" column="status" />
        <result property="provider" column="provider" />
        <result property="factory" column="factory" />
        <result property="remark" column="remark" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <resultMap id="WbOlpTrendingVoResult" type="WbOlpTrendingVo">
        <result property="date" column="dt"/>
        <result property="code" column="code"/>
        <result property="cnt"  column="cnt"/>
    </resultMap>

    <sql id="Base_Column_List">
        SELECT SID,
               MC_ID,
               LINE_COUNT,
               STATUS,
               CREATE_BY,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_TIME,
               PROVIDER,
               FACTORY,
               REMARK
        FROM IMBIZ.WB_OLP_STD_MODEL_INFO
    </sql>

    <insert id="insertWbOlpStdModInfo">
        INSERT INTO IMBIZ.WB_OLP_STD_MODEL_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mcId != null">mc_id,</if>
            <if test="lineCount != null">line_count,</if>
            <if test="status != null">status,</if>
            <if test="provider != null">provider,</if>
            <if test="factory != null">factory,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="mcId != null">#{mcId},</if>
            <if test="lineCount != null">#{lineCount},</if>
            <if test="status != null">#{status},</if>
            <if test="provider != null">#{provider},</if>
            <if test="factory != null">#{factory},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateWbOlpStdModInfo">
        update IMBIZ.WB_OLP_STD_MODEL_INFO
        <trim prefix="SET" suffixOverrides=",">
            <if test="mcId != null">mc_id = #{mcId},</if>
            <if test="lineCount != null">line_count = #{lineCount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="provider != null">provider = #{provider},</if>
            <if test="factory != null">factory = #{factory},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where sid = #{sid}
    </update>

    <delete id="deleteWbOlpStdModInfoBySid">
        delete from IMBIZ.WB_OLP_STD_MODEL_INFO where sid = #{sid}
    </delete>

    <delete id="deleteWbOlpStdModInfoBySids">
        delete from IMBIZ.WB_OLP_STD_MODEL_INFO where sid in
        <foreach item="sid" collection="array" open="(" separator="," close=")">
            #{sid}
        </foreach>
    </delete>

    <select id="selectWbOlpStdModInfoBySid" parameterType="java.lang.Long" resultMap="WbOlpStdModInfoResult">
        <include refid="Base_Column_List" />
        WHERE SID = #{sid}
    </select>

    <select id="selectWbOlpStdModInfoList" resultMap="WbOlpStdModInfoResult">
        <include refid="Base_Column_List"/>
        <where>
            <if test="mcId != null">and MC_ID = #{mcId}</if>
            <if test="status != null">and STATUS = #{status}</if>
        </where>
        ORDER BY
            CASE
                WHEN UPDATE_TIME IS NULL THEN CREATE_TIME
                ELSE GREATEST(CREATE_TIME, UPDATE_TIME)
        END DESC
    </select>

    <select id="getModelAvgCnt" resultType="java.lang.Long">
        select round(avg(line_count)) from IMBIZ.WB_OLP_STD_MODEL_INFO where status = 1
    </select>

    <select id="getModelsTtlCnt" resultType="java.lang.Long">
        select count(1) as modelsTtlCnt from IMBIZ.WB_OLP_STD_MODEL_INFO where status = 1
    </select>

    <select id="getWbOlpTrending" resultMap="WbOlpTrendingVoResult">
        select
            to_date(`dt`) 'dt',
            code,
            count(1) cnt
        from qtech_eq_dwd.im_wb_olp_chk_result_detail
        where `dt` >= days_sub(to_date(now()), 30)
        group by to_date(`dt`), code
        order by 1 asc, 2 asc
    </select>
</mapper>