<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.im.wb.mapper.WbOlpRatioMapper">
    <resultMap id="wbOlpOverviewResult" type="WbOlpPercentageVo">
        <result property="factoryName" column="company_name"/>
        <result property="groupName" column="group_name"/>
        <result property="eqId" column="eq_id"/>
        <result property="mcId" column="mc_id"/>
        <result property="prodType" column="prod_type"/>
        <result property="computeCnt" column="compute_cnt"/>
        <result property="okCnt" column="ok_cnt"/>
        <result property="errCnt" column="err_cnt"/>
        <result property="errRatio" column="err_ratio"/>
    </resultMap>

    <select id="selectWbOlpRatioList"
            resultMap="wbOlpOverviewResult">
        select
            company_name,
            group_name,
            eq_id,
            mc_id,
            prod_type,
            compute_cnt,
            ok_cnt,
            err_cnt,
            err_ratio
        from
            (
            select
                company_name,
                group_name,
                eq_id,
                mc_id,
                prod_type,
                compute_cnt,
                ok_cnt,
                err_cnt,
                err_cnt / compute_cnt as err_ratio
            from
                (
                select
                    company_name,
                    group_name,
                    device_m_id as eq_id,
                    machine_no as mc_id,
                    mc_id as prod_type,
                    count(code) as compute_cnt,
                    sum(case when code = 0 then 1 else 0 end) as ok_cnt,
                    sum(case when code != 0 then 1 else 0 end) as err_cnt
                from
                    (
                    select
                        a.device_id,
                        b.company_name,
                        b.dep_name,
                        b.group_name,
                        a.device_m_id,
                        devicetype,
                        a.devicename,
                        devicenetip,
                        c.pbox_id,
                        machine_no
                    from
                        qtech_eq_ods.ems_t_device a
                    inner join qtech_eq_ods.ems_t_pbox_info c on
                        c.dev_id = a.device_id
                    left join qtech_eq_ods.ems_v_code_name b on
                        a.hierarchy_code = b.hierarchy_show_code
                    left join qtech_eq_ods.ems_t_collector_program d on
                        c.collector_program_id = d.id) ta,
                    (
                    select
                        sim_id,
                        mc_id,
                        dt,
                        code,
                        description
                    from
                        qtech_eq_dwd.im_wb_olp_chk_result_detail
                    <where>
                        <choose>
                            <when test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != ''">
                                and dt between #{params.beginTime} and #{params.endTime}
                            </when>
                            <otherwise>
                                and dt > hours_sub(now(), 24)
                            </otherwise>
                        </choose>
                        <if test="statusCode != null">
                            and code = #{statusCode}
                        </if>
                    </where>) tb
                where
                    ta.pbox_id = tb.sim_id
                <choose>
                    <when test="(factoryName == null or factoryName == '') and (groupName == null or groupName == '') and (prodType == null or prodType == '')
                    and (eqId == null or eqId == '') and (mcId == null or mcId == '')">
                        group by company_name, group_name, machine_no, device_m_id, mc_id
                    </when>
                    <otherwise>
                        group by company_name, group_name, machine_no, device_m_id, mc_id
                        <trim prefix="having" prefixOverrides="and">
                            <if test="factoryName !=null and factoryName != ''"> and company_name = #{factoryName} </if>
                            <if test="groupName !=null and groupName != ''"> and group_name = #{groupName} </if>
                            <if test="prodType != null and prodType != ''"> and lower(mc_id) like concat('%', lower(#{prodType}), '%') </if>
                            <if test="eqId != null and eqId != ''"> and lower(device_m_id) like concat('%', lower(#{eqId}), '%') </if>
                            <if test="mcId != null and mcId != ''"> and lower(machine_no) like concat('%', lower(#{mcId}), '%') </if>
                        </trim>
                    </otherwise>
                </choose>) tc
            <choose>
                <when test="flag == 'err'">
                    <where>
                        and err_cnt > 0
                    </where>) td
                </when>
                <when test="flag == 'ok'">
                    <where>
                        and ok_cnt > 0
                    </where>) td
                </when>
                <otherwise>
                    ) td
                </otherwise>
            </choose>
        order by
            case
                company_name
                when '古城厂区' then 1
                when '台虹厂区' then 2
                when '汉浦厂区' then 3
                when '总计' then 5
                else 4
            end asc,
            case
                when group_name like '%COB一%' then 1
                when group_name like '%COB二%' then 2
                when group_name like '%COB三%' then 3
                when group_name like '%COB四%' then 4
                when group_name like '%COB五%' then 5
                when group_name like '%COB六%' then 6
                when group_name like '%COB七%' then 7
                when group_name like '%COB八%' then 8
                when group_name like '%COB九%' then 9
                when group_name like '%COB十%' then 10
                when group_name like '%光学一%' then 11
                when group_name like '%光学二%' then 12
                when group_name like '%光学三%' then 13
                when group_name like '%光学四%' then 14
                when group_name like '%试产一%' then 15
                when group_name like '%试产二%' then 16
                when group_name like '%试产三%' then 17
                when group_name like '小计' then 19
                else 18
            end asc,
            mc_id asc
    </select>
</mapper>
