<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.im.wire.mapper.GoldWireUsageStandardMapper">
    <resultMap type="ImStandardGoldWireUsage" id="WireUsageStandardResult">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result property="factoryName" column="factory_name"/>
        <result property="groupName" column="workshop"/>
        <result property="deptName" column="dept_name"/>
        <result property="deviceType" column="device_type"/>
        <result property="eqId" column="device_m_id"/>
        <result property="prodType" column="mc_id"/>
        <result property="simId" column="sim_id"/>
        <result property="dt" column="create_date"/>
        <result property="statusCode" column="code"/>
        <result property="description" column="description"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="wireWidth" column="wire_width"/>
        <result property="actualWireUsage" column="actual_wire_usage"/>
        <result property="standardWireUsage" column="standard_wire_usage"/>
        <result property="bomWireUsage" column="bom_wire_usage"/>
        <result property="yield" column="yield"/>
        <result property="percents" column="percents"/>
        <result property="statusCode" column="status"/>
        <result column="flag" property="flag"/>
    </resultMap>

    <sql id="selectWireUsageStandardVo">
        select mc_id,
               wire_width,
               standard_wire_usage,
               flag,
               remark,
               create_by,
               create_time,
               update_by,
               update_time
        from qtech_biz_2.ads_wirebond_standard_usage
    </sql>

    <select id="list" parameterType="ImStandardGoldWireUsage" resultMap="WireUsageStandardResult">
        <include refid="selectWireUsageStandardVo"/>
        <where>
            <if test="prodType != null">and mc_id = #{prodType}</if>
            <if test="wireWidth != null">and wire_width = #{wireWidth}</if>
        </where>
        order by create_time desc, mc_id
    </select>

    <select id="listByProdTypes" parameterType="list" resultMap="WireUsageStandardResult">
        <include refid="selectWireUsageStandardVo"/>
        <where>
            <if test="prodTypes != null">
                and mc_id in
                <foreach item="item" index="index" collection="prodTypes"
                         open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getByProdType" resultMap="WireUsageStandardResult">
        <include refid="selectWireUsageStandardVo"/>
        where mc_id = #{prodType}
    </select>

    <insert id="addOne" parameterType="ImStandardGoldWireUsage">
        insert into qtech_biz_2.ads_wirebond_standard_usage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="prodType != null">mc_id,</if>
            <if test="wireWidth != null">wire_width,</if>
            <if test="standardWireUsage != null">standard_wire_usage,</if>
            <if test="flag != null">flag,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="prodType != null">trim(#{prodType}),</if>
            <if test="wireWidth != null">trim(#{wireWidth}),</if>
            <if test="standardWireUsage != null">trim(#{standardWireUsage}),</if>
            <if test="flag != null">trim(#{flag}),</if>
            <if test="remark != null">trim(#{remark}),</if>
            <if test="createBy != null">trim(#{createBy}),</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">trim(#{updateBy}),</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <insert id="addAll" parameterType="List">
        insert into qtech_biz_2.ads_wirebond_standard_usage
        (mc_id,wire_width,standard_wire_usage,remark,create_by,create_time,update_by,update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.prodType},#{item.wireWidth},#{item.standardWireUsage},#{item.remark},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <update id="update" parameterType="ImStandardGoldWireUsage">
        update qtech_biz_2.ads_wirebond_standard_usage
        <trim prefix="SET" suffixOverrides=",">
            <if test="wireWidth != null">wire_width = trim(#{wireWidth}),</if>
            <if test="standardWireUsage != null">standard_wire_usage = trim(#{standardWireUsage}),</if>
            <if test="flag != null">flag = trim(#{flag}),</if>
            <if test="remark != null">remark = trim(#{remark}),</if>
            <if test="createBy != null">create_by = trim(#{createBy}),</if>
            <if test="createTime != null">create_time = trim(#{createTime}),</if>
            <if test="updateBy != null">update_by = trim(#{updateBy}),</if>
            <if test="updateTime != null">update_time = trim(#{updateTime}),</if>
        </trim>
        where mc_id = #{prodType}
    </update>

    <delete id="removeByProdType" parameterType="String">
        delete
        from qtech_biz_2.ads_wirebond_standard_usage
        where mc_id = #{prodType}
    </delete>
</mapper>
