<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.im.wire.mapper.FactoryNameListMapper">
    <resultMap type="FactoryNameList" id="FactoryNameResult">
        <result property="factoryName" column="factory_name"/>
    </resultMap>

    <select id="selectFactoryName" resultMap="FactoryNameResult">
        select distinct factory_name from qtech_biz_2.dwd_wb_wire_usage_detail order by factory_name asc;
    </select>
</mapper>
