<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.im.aa.mapper.AaListParamsIndexResultMapper">
    <resultMap id="BaseResultMap" type="AaListParamsIndex">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="company_name" property="factoryName" jdbcType="VARCHAR"/>
        <result column="group_name" property="groupName" jdbcType="VARCHAR"/>
        <result column="chk_cnt" property="chkCnt" jdbcType="INTEGER"/>
        <result column="ok_cnt" property="okCnt" jdbcType="INTEGER"/>
        <result column="err_cnt" property="errCnt" jdbcType="INTEGER"/>
		<result column="no_tpl_cnt" property="noTplCnt" jdbcType="INTEGER"/>
		<result column="lack_params_cnt" property="lackParamsCnt" jdbcType="INTEGER"/>
		<result column="unsuitable_cnt" property="unsuitableCnt" jdbcType="INTEGER"/>
		<result column="overflow_cnt" property="overflowCnt" jdbcType="INTEGER"/>
		<result column="comp_err_cnt" property="compErrCnt" jdbcType="INTEGER"/>
		<result column="offline_tpl_cnt" property="offlineTplCnt" jdbcType="INTEGER"/>
		<result column="lack_tpl_detail_cnt" property="lackTplDetailCnt" jdbcType="INTEGER"/>
        <result column="err_ratio" property="errRatio" jdbcType="FLOAT"/>
    </resultMap>

    <sql id="timeFilter">
        date_sub(now(), interval #{daysFilter} day)
    </sql>

    <sql id="Base_Column_List">
		SELECT
			company_name,
			group_name,
			device_m_id,
			machine_no,
			pbox_id,
			prod_type,
			chk_dt,
			code,
			description
		FROM
			(
				SELECT
					sim_id,
					chk_dt,
					prod_type,
					code,
					description
				FROM
					(
						SELECT
							sim_id,
							chk_dt,
							prod_type,
							code,
							description,
							ROW_NUMBER() OVER (
								PARTITION BY sim_id
							ORDER BY
								chk_dt DESC
							) AS num
						FROM
							qtech_eq_dwd.im_aa_list_chk_result_detail
						WHERE
							chk_dt > <include refid="timeFilter" />
					) t
				WHERE
					num = 1
			) a
		INNER JOIN (
				SELECT
					a.device_id,
					b.company_name,
					b.dep_name,
					b.group_name,
					a.device_m_id,
					devicetype,
					a.devicename,
					devicenetip,
					c.pbox_id,
					machine_no
				FROM
					qtech_eq_ods.ems_t_device a
				INNER JOIN qtech_eq_ods.ems_t_pbox_info c
								ON
					c.dev_id = CAST(a.device_id AS DOUBLE)
				LEFT JOIN qtech_eq_ods.ems_v_code_name b
								ON
					a.hierarchy_code = b.hierarchy_show_code
				LEFT JOIN qtech_eq_ods.ems_t_collector_program d
								ON
					c.collector_program_id = d.id
			) b
						ON
			a.sim_id = b.pbox_id
    </sql>
	<select id="updateTime" resultType="java.time.LocalDateTime">
		select max(chk_dt) from qtech_eq_dwd.im_aa_list_chk_result_detail
	</select>

	<select id="list" resultMap="BaseResultMap" parameterType="aaListParamsCheckResult">
		SELECT
			CASE
				WHEN company_name IS NULL THEN '总计'
				ELSE company_name
			END AS company_name,
			CASE
				WHEN group_name IS NULL THEN '小计'
				ELSE group_name
			END AS group_name,
			chk_cnt,
			ok_cnt,
			err_cnt,
			no_tpl_cnt,
			lack_params_cnt,
			unsuitable_cnt,
			overflow_cnt,
			comp_err_cnt,
			offline_tpl_cnt,
			lack_tpl_detail_cnt,
			err_ratio
		FROM
			(
				SELECT
					company_name,
					group_name,
					chk_cnt,
					ok_cnt,
					err_cnt,
					no_tpl_cnt,
					lack_params_cnt,
					unsuitable_cnt,
					overflow_cnt,
					comp_err_cnt,
					offline_tpl_cnt,
					lack_tpl_detail_cnt,
					err_cnt / chk_cnt as err_ratio
				FROM
					(
						SELECT
							company_name,
							group_name,
							count(code) as chk_cnt,
							sum(case when code = 0 then 1 else 0 end) as ok_cnt,
							sum(case when code > 0 then 1 else 0 end) as err_cnt,
							sum(case when code = 1 then 1 else 0 end) as no_tpl_cnt,
							sum(case when code = 2 then 1 else 0 end) as lack_params_cnt,
							sum(case when code = 3 then 1 else 0 end) as unsuitable_cnt,
							sum(case when code = 4 then 1 else 0 end) as overflow_cnt,
							sum(case when code = 5 then 1 else 0 end) as comp_err_cnt,
							sum(case when code = 6 then 1 else 0 end) as offline_tpl_cnt,
							sum(case when code = 7 then 1 else 0 end) as lack_tpl_detail_cnt
						FROM
							(
								SELECT
									company_name,
									group_name,
									dep_name,
									machine_no,
									device_m_id,
									pbox_id,
									prod_type,
									chk_dt,
									code,
									description
								FROM
									(
										SELECT
											sim_id,
											chk_dt,
											prod_type,
											code,
											description
										FROM
											qtech_eq_dwd.im_aa_list_chk_result_detail
										<where>
											<if test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != ''">
												and chk_dt between #{params.beginTime} and #{params.endTime}
											</if>
										</where>
									) a
								INNER JOIN (
										SELECT
											a.device_id,
											b.company_name,
											b.dep_name,
											b.group_name,
											a.device_m_id,
											devicetype,
											a.devicename,
											devicenetip,
											c.pbox_id,
											machine_no
										FROM
											qtech_eq_ods.ems_t_device a
										INNER JOIN qtech_eq_ods.ems_t_pbox_info c
											ON
											c.dev_id = CAST(a.device_id AS DOUBLE)
										LEFT JOIN qtech_eq_ods.ems_v_code_name b
											ON
											a.hierarchy_code = b.hierarchy_show_code
										LEFT JOIN qtech_eq_ods.ems_t_collector_program d
											ON
											c.collector_program_id = d.id
									) b ON
									a.sim_id = b.pbox_id
							) ta
						<choose>
							<when test="(factoryName == null or factoryName == '') and (groupName == null or groupName == '')">
								GROUP BY ROLLUP(company_name, group_name)
							</when>
							<otherwise>
								GROUP BY ROLLUP(company_name, group_name)
								<trim prefix="having" prefixOverrides="and">
									<if test="factoryName !=null and factoryName != ''"> AND company_name = #{factoryName} </if>
									<if test="groupName !=null and groupName != ''"> AND group_name = #{groupName} </if>
								</trim>
							</otherwise>
						</choose>) tb
			) tc
		ORDER BY
		    CASE
				company_name
				WHEN '古城厂区' THEN 1
				WHEN '台虹厂区' THEN 2
				WHEN '汉浦厂区' THEN 3
				WHEN 'QT_India' THEN 4
				WHEN '总计' THEN 6
				ELSE 5
			END ASC,
			CASE
				WHEN group_name LIKE '%COB一%' THEN 1
				WHEN group_name LIKE '%COB二%' THEN 2
				WHEN group_name LIKE '%COB三%' THEN 3
				WHEN group_name LIKE '%COB四%' THEN 4
				WHEN group_name LIKE '%COB五%' THEN 5
				WHEN group_name LIKE '%COB六%' THEN 6
				WHEN group_name LIKE '%COB七%' THEN 7
				WHEN group_name LIKE '%COB八%' THEN 8
				WHEN group_name LIKE '%COB九%' THEN 9
				WHEN group_name LIKE '%COB十%' THEN 10
				WHEN group_name LIKE '%光学一%' THEN 11
				WHEN group_name LIKE '%光学二%' THEN 12
				WHEN group_name LIKE '%光学三%' THEN 13
				WHEN group_name LIKE '%光学四%' THEN 14
				WHEN group_name LIKE '%试产一%' THEN 15
				WHEN group_name LIKE '%试产二%' THEN 16
				WHEN group_name LIKE '%试产三%' THEN 17
				WHEN group_name LIKE '小计' THEN 19
				ELSE 18
			END ASC
	</select>
</mapper>