<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.im.aa.mapper.AaListParamsParsedDetailMapper">
    <resultMap id="BaseResultMap" type="ImAaListParamsParsed">
        <result property="simId" column="sim_id" jdbcType="VARCHAR"/>
        <result property="prodType" column="prod_type" jdbcType="VARCHAR"/>
        <result property="receivedTime" column="received_time" jdbcType="TIMESTAMP"/>
        <result property="aa1" column="aa1" jdbcType="VARCHAR"/>
        <result property="aa2" column="aa2" jdbcType="VARCHAR"/>
        <result property="aa3" column="aa3" jdbcType="VARCHAR"/>
        <result property="backToPosition" column="back_to_position" jdbcType="VARCHAR"/>
        <result property="blemish" column="blemish" jdbcType="VARCHAR"/>
        <result property="clampOnOff" column="clamp_on_off" jdbcType="VARCHAR"/>
        <result property="chartAlignment" column="chart_alignment" jdbcType="VARCHAR"/>
        <result property="chartAlignment1" column="chart_alignment1" jdbcType="VARCHAR"/>
        <result property="chartAlignment2" column="chart_alignment2" jdbcType="VARCHAR"/>
        <result property="delay" column="delay" jdbcType="VARCHAR"/>
        <result property="destroy" column="destroy" jdbcType="VARCHAR"/>
        <result property="destroyStart" column="destroy_start" jdbcType="VARCHAR"/>
        <result property="dispense" column="dispense" jdbcType="VARCHAR"/>
        <result property="epoxyInspection" column="epoxy_inspection" jdbcType="VARCHAR"/>
        <result property="epoxyInspectionAuto" column="epoxy_inspection_auto" jdbcType="VARCHAR"/>
        <result property="grab" column="grab" jdbcType="VARCHAR"/>
        <result property="gripperOpen" column="gripper_open" jdbcType="VARCHAR"/>
        <result property="init" column="init" jdbcType="VARCHAR"/>
        <result property="lpBlemish" column="lp_blemish" jdbcType="VARCHAR"/>
        <result property="lpOc" column="lp_oc" jdbcType="VARCHAR"/>
        <result property="lpOcCheck" column="lp_oc_check" jdbcType="VARCHAR"/>
        <result property="lpOn" column="lp_on" jdbcType="VARCHAR"/>
        <result property="lpOnBlemish" column="lp_on_blemish" jdbcType="VARCHAR"/>
        <result property="lpOff" column="lp_off" jdbcType="VARCHAR"/>
        <result property="moveToBlemishPos" column="move_to_blemish_pos" jdbcType="VARCHAR"/>
        <result property="mtfCheck" column="mtf_check" jdbcType="VARCHAR"/>
        <result property="mtfCheck2" column="mtf_check2" jdbcType="VARCHAR"/>
        <result property="mtfCheck3" column="mtf_check3" jdbcType="VARCHAR"/>
        <result property="openCheck" column="open_check" jdbcType="VARCHAR"/>
        <result property="recordPosition" column="record_position" jdbcType="VARCHAR"/>
        <result property="reInit" column="re_init" jdbcType="VARCHAR"/>
        <result property="saveOc" column="save_oc" jdbcType="VARCHAR"/>
        <result property="saveMtf" column="save_mtf" jdbcType="VARCHAR"/>
        <result property="senserReset" column="senser_reset" jdbcType="VARCHAR"/>
        <result property="sid" column="sid" jdbcType="VARCHAR"/>
        <result property="uvon" column="uvon" jdbcType="VARCHAR"/>
        <result property="uvoff" column="uvoff" jdbcType="VARCHAR"/>
        <result property="vcmHall" column="vcm_hall" jdbcType="VARCHAR"/>
        <result property="vcmHall2" column="vcm_hall2" jdbcType="VARCHAR"/>
        <result property="vcmMoveToZ" column="vcm_move_to_z" jdbcType="VARCHAR"/>
        <result property="vcmMoveToZPos" column="vcm_move_to_z_pos" jdbcType="VARCHAR"/>
        <result property="vcmPowerOffCheck" column="vcm_power_off_check" jdbcType="VARCHAR"/>
        <result property="vcmInit" column="vcm_init" jdbcType="VARCHAR"/>
        <result property="vcmOisInit" column="vcm_ois_init" jdbcType="VARCHAR"/>
        <result property="vcmPowerOff" column="vcm_power_off" jdbcType="VARCHAR"/>
        <result property="vcmPowerOn" column="vcm_power_on" jdbcType="VARCHAR"/>
        <result property="vcmTop" column="vcm_top" jdbcType="VARCHAR"/>
        <result property="vcmTopHall" column="vcm_top_hall" jdbcType="VARCHAR"/>
        <result property="vcmZ" column="vcm_z" jdbcType="VARCHAR"/>
        <result property="vcmZHall" column="vcm_z_hall" jdbcType="VARCHAR"/>
        <result property="yLevel" column="y_level" jdbcType="VARCHAR"/>
        <result property="aa1RoiCc" column="aa1_roi_cc" jdbcType="VARCHAR"/>
        <result property="aa1RoiUl" column="aa1_roi_ul" jdbcType="VARCHAR"/>
        <result property="aa1RoiUr" column="aa1_roi_ur" jdbcType="VARCHAR"/>
        <result property="aa1RoiLl" column="aa1_roi_ll" jdbcType="VARCHAR"/>
        <result property="aa1RoiLr" column="aa1_roi_lr" jdbcType="VARCHAR"/>
        <result property="aa1FC" column="aa1_fc" jdbcType="VARCHAR"/>
        <result property="aa1F1" column="aa1_f1" jdbcType="VARCHAR"/>
        <result property="aa1F2" column="aa1_f2" jdbcType="VARCHAR"/>
        <result property="aa1F3" column="aa1_f3" jdbcType="VARCHAR"/>
        <result property="aa1F4" column="aa1_f4" jdbcType="VARCHAR"/>
        <result property="aa1MtfOffAxisCheck1" column="aa1_mtf_off_axis_check1" jdbcType="VARCHAR"/>
        <result property="aa1MtfOffAxisCheck2" column="aa1_mtf_off_axis_check2" jdbcType="VARCHAR"/>
        <result property="aa1MtfOffAxisCheck3" column="aa1_mtf_off_axis_check3" jdbcType="VARCHAR"/>
        <result property="aa2RoiCc" column="aa2_roi_cc" jdbcType="VARCHAR"/>
        <result property="aa2RoiUl" column="aa2_roi_ul" jdbcType="VARCHAR"/>
        <result property="aa2RoiUr" column="aa2_roi_ur" jdbcType="VARCHAR"/>
        <result property="aa2RoiLl" column="aa2_roi_ll" jdbcType="VARCHAR"/>
        <result property="aa2RoiLr" column="aa2_roi_lr" jdbcType="VARCHAR"/>
        <result property="aa2FC" column="aa2_fc" jdbcType="VARCHAR"/>
        <result property="aa2F1" column="aa2_f1" jdbcType="VARCHAR"/>
        <result property="aa2F2" column="aa2_f2" jdbcType="VARCHAR"/>
        <result property="aa2F3" column="aa2_f3" jdbcType="VARCHAR"/>
        <result property="aa2F4" column="aa2_f4" jdbcType="VARCHAR"/>
        <result property="aa2MtfOffAxisCheck1" column="aa2_mtf_off_axis_check1" jdbcType="VARCHAR"/>
        <result property="aa2MtfOffAxisCheck2" column="aa2_mtf_off_axis_check2" jdbcType="VARCHAR"/>
        <result property="aa2MtfOffAxisCheck3" column="aa2_mtf_off_axis_check3" jdbcType="VARCHAR"/>
        <result property="aa3RoiCc" column="aa3_roi_cc" jdbcType="VARCHAR"/>
        <result property="aa3RoiUl" column="aa3_roi_ul" jdbcType="VARCHAR"/>
        <result property="aa3RoiUr" column="aa3_roi_ur" jdbcType="VARCHAR"/>
        <result property="aa3RoiLl" column="aa3_roi_ll" jdbcType="VARCHAR"/>
        <result property="aa3RoiLr" column="aa3_roi_lr" jdbcType="VARCHAR"/>
        <result property="aa3FC" column="aa3_fc" jdbcType="VARCHAR"/>
        <result property="aa3F1" column="aa3_f1" jdbcType="VARCHAR"/>
        <result property="aa3F2" column="aa3_f2" jdbcType="VARCHAR"/>
        <result property="aa3F3" column="aa3_f3" jdbcType="VARCHAR"/>
        <result property="aa3F3" column="aa3_f3" jdbcType="VARCHAR"/>
        <result property="aa3F4" column="aa3_f4" jdbcType="VARCHAR"/>
        <result property="aa3MtfOffAxisCheck1" column="aa3_mtf_off_axis_check1" jdbcType="VARCHAR"/>
        <result property="aa3MtfOffAxisCheck2" column="aa3_mtf_off_axis_check2" jdbcType="VARCHAR"/>
        <result property="aa3MtfOffAxisCheck3" column="aa3_mtf_off_axis_check3" jdbcType="VARCHAR"/>
        <result property="mtfCheckFC" column="mtf_check_fc" jdbcType="VARCHAR"/>
        <result property="mtfCheckF1" column="mtf_check_f1" jdbcType="VARCHAR"/>
        <result property="mtfCheckF2" column="mtf_check_f2" jdbcType="VARCHAR"/>
        <result property="mtfCheckF3" column="mtf_check_f3" jdbcType="VARCHAR"/>
        <result property="mtfCheckF4" column="mtf_check_f4" jdbcType="VARCHAR"/>
        <result property="mtfCheck2FC" column="mtf_check2_fc" jdbcType="VARCHAR"/>
        <result property="mtfCheck2F1" column="mtf_check2_f1" jdbcType="VARCHAR"/>
        <result property="mtfCheck2F2" column="mtf_check2_f2" jdbcType="VARCHAR"/>
        <result property="mtfCheck2F3" column="mtf_check2_f3" jdbcType="VARCHAR"/>
        <result property="mtfCheck2F4" column="mtf_check2_f4" jdbcType="VARCHAR"/>
        <result property="mtfCheck3FC" column="mtf_check3_fc" jdbcType="VARCHAR"/>
        <result property="mtfCheck3F1" column="mtf_check3_f1" jdbcType="VARCHAR"/>
        <result property="mtfCheck3F2" column="mtf_check3_f2" jdbcType="VARCHAR"/>
        <result property="mtfCheck3F3" column="mtf_check3_f3" jdbcType="VARCHAR"/>
        <result property="mtfCheck3F4" column="mtf_check3_f4" jdbcType="VARCHAR"/>
        <result property="chartAlignmentXResMin" column="chart_alignment_x_res_min" jdbcType="VARCHAR"/>
        <result property="chartAlignmentXResMax" column="chart_alignment_x_res_max" jdbcType="VARCHAR"/>
        <result property="chartAlignmentYResMin" column="chart_alignment_y_res_min" jdbcType="VARCHAR"/>
        <result property="chartAlignmentYResMax" column="chart_alignment_y_res_max" jdbcType="VARCHAR"/>
        <result property="chartAlignment1XResMin" column="chart_alignment1_x_res_min" jdbcType="VARCHAR"/>
        <result property="chartAlignment1XResMax" column="chart_alignment1_x_res_max" jdbcType="VARCHAR"/>
        <result property="chartAlignment1YResMin" column="chart_alignment1_y_res_min" jdbcType="VARCHAR"/>
        <result property="chartAlignment1YResMax" column="chart_alignment1_y_res_max" jdbcType="VARCHAR"/>
        <result property="chartAlignment2XResMin" column="chart_alignment2_x_res_min" jdbcType="VARCHAR"/>
        <result property="chartAlignment2XResMax" column="chart_alignment2_x_res_max" jdbcType="VARCHAR"/>
        <result property="chartAlignment2YResMin" column="chart_alignment2_y_res_min" jdbcType="VARCHAR"/>
        <result property="chartAlignment2YResMax" column="chart_alignment2_y_res_max" jdbcType="VARCHAR"/>
        <result property="epoxyInspectionInterval" column="epoxy_inspection_interval" jdbcType="VARCHAR"/>
        <result property="vcmCheckResultCheckMin" column="vcm_check_result_check_min" jdbcType="VARCHAR"/>
        <result property="vcmCheckResultCheckMax" column="vcm_check_result_check_max" jdbcType="VARCHAR"/>
        <result property="recordPositionUtXyzMove" column="record_position_ut_xyz_move" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="selectAaListParamsParsedDetailVo">
        SELECT sim_id,
               prod_type,
               received_time,
               aa1,
               aa2,
               aa3,
               back_to_position,
               blemish,
               clamp_on_off,
               chart_alignment,
               chart_alignment1,
               chart_alignment2,
               delay,
               destroy,
               destroy_start,
               dispense,
               epoxy_inspection,
               epoxy_inspection_auto,
               grab,
               gripper_open,
               init,
               lp_blemish,
               lp_oc,
               lp_oc_check,
               lp_on,
               lp_on_blemish,
               lp_off,
               move_to_blemish_pos,
               mtf_check,
               mtf_check2,
               mtf_check3,
               open_check,
               record_position,
               re_init,
               save_oc,
               save_mtf,
               senser_reset,
               sid,
               uvon,
               uvoff,
               vcm_hall,
               vcm_hall2,
               vcm_move_to_z,
               vcm_move_to_z_pos,
               vcm_power_off_check,
               vcm_init,
               vcm_ois_init,
               vcm_power_off,
               vcm_power_on,
               vcm_top,
               vcm_top_hall,
               vcm_z,
               vcm_z_hall,
               y_level,
               aa1_roi_cc,
               aa1_roi_ul,
               aa1_roi_ur,
               aa1_roi_ll,
               aa1_roi_lr,
               aa1_fc,
               aa1_f1,
               aa1_f2,
               aa1_f3,
               aa1_f4,
               aa1_mtf_off_axis_check1,
               aa1_mtf_off_axis_check2,
               aa1_mtf_off_axis_check3,
               aa1_target,
               aa1_cc_to_corner_limit,
               aa1_cc_to_corner_limit_min,
               aa1_corner_score_difference_reject_value,
               aa1_z_ref,
               aa1_srch_step,
               aa1_golden_glue_thickness_min,
               aa1_golden_glue_thickness_max,
               aa2_roi_cc,
               aa2_roi_ul,
               aa2_roi_ur,
               aa2_roi_ll,
               aa2_roi_lr,
               aa2_fc,
               aa2_f1,
               aa2_f2,
               aa2_f3,
               aa2_f4,
               aa2_mtf_off_axis_check1,
               aa2_mtf_off_axis_check2,
               aa2_mtf_off_axis_check3,
               aa2_target,
               aa2_cc_to_corner_limit,
               aa2_cc_to_corner_limit_min,
               aa2_corner_score_difference_reject_value,
               aa2_z_ref,
               aa2_srch_step,
               aa2_golden_glue_thickness_min,
               aa2_golden_glue_thickness_max,
               aa3_roi_cc,
               aa3_roi_ul,
               aa3_roi_ur,
               aa3_roi_ll,
               aa3_roi_lr,
               aa3_fc,
               aa3_f1,
               aa3_f2,
               aa3_f3,
               aa3_f4,
               aa3_mtf_off_axis_check1,
               aa3_mtf_off_axis_check2,
               aa3_mtf_off_axis_check3,
               aa3_target,
               aa3_cc_to_corner_limit,
               aa3_cc_to_corner_limit_min,
               aa3_corner_score_difference_reject_value,
               aa3_z_ref,
               aa3_srch_step,
               aa3_golden_glue_thickness_min,
               aa3_golden_glue_thickness_max,
               mtf_check_fc,
               mtf_check_f1,
               mtf_check_f2,
               mtf_check_f3,
               mtf_check_f4,
               mtf_check2_fc,
               mtf_check2_f1,
               mtf_check2_f2,
               mtf_check2_f3,
               mtf_check2_f4,
               mtf_check3_fc,
               mtf_check3_f1,
               mtf_check3_f2,
               mtf_check3_f3,
               mtf_check3_f4,
               chart_alignment_x_res_min,
               chart_alignment_x_res_max,
               chart_alignment_y_res_min,
               chart_alignment_y_res_max,
               chart_alignment1_x_res_min,
               chart_alignment1_x_res_max,
               chart_alignment1_y_res_min,
               chart_alignment1_y_res_max,
               chart_alignment2_x_res_min,
               chart_alignment2_x_res_max,
               chart_alignment2_y_res_min,
               chart_alignment2_y_res_max,
               epoxy_inspection_interval,
               vcm_check_result_check_min,
               vcm_check_result_check_max,
               record_position_ut_xyz_move
        FROM qtech_eq_dwd.im_aa_list_parsed_detail
    </sql>

    <select id="selectAaListParamsParsedDetailList" resultMap="BaseResultMap">
        <include refid="selectAaListParamsParsedDetailVo"/>
        <where>
            <if test="simId != null">
                AND sim_id = #{simId}
            </if>
            <if test="prodType != null">
                AND prod_type = #{prodType}
            </if>
            <if test="params.beginDate != null and params.endDate != null">
                and received_time between #{params.beginDate} and #{params.endDate}
            </if>
        </where>
        order by received_time desc
    </select>

</mapper>