<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.im.aa.mapper.ImAaListParamsStdModelMapper">

    <resultMap id="BaseResultMap" type="ImAaListParamsStdModel">
            <result property="id" column="ID" jdbcType="DECIMAL"/>
            <result property="prodType" column="PROD_TYPE" jdbcType="VARCHAR"/>
            <result property="aa1" column="AA1" jdbcType="VARCHAR"/>
            <result property="aa2" column="AA2" jdbcType="VARCHAR"/>
            <result property="aa3" column="AA3" jdbcType="VARCHAR"/>
            <result property="backToPosition" column="BACK_TO_POSITION" jdbcType="VARCHAR"/>
            <result property="blemish" column="BLEMISH" jdbcType="VARCHAR"/>
            <result property="clampOnOff" column="CLAMP_ON_OFF" jdbcType="VARCHAR"/>
            <result property="chartAlignment" column="CHART_ALIGNMENT" jdbcType="VARCHAR"/>
            <result property="chartAlignment1" column="CHART_ALIGNMENT1" jdbcType="VARCHAR"/>
            <result property="chartAlignment2" column="CHART_ALIGNMENT2" jdbcType="VARCHAR"/>
            <result property="delay" column="DELAY" jdbcType="VARCHAR"/>
            <result property="destroy" column="DESTROY" jdbcType="VARCHAR"/>
            <result property="destroyStart" column="DESTROY_START" jdbcType="VARCHAR"/>
            <result property="dispense" column="DISPENSE" jdbcType="VARCHAR"/>
            <result property="epoxyInspection" column="EPOXY_INSPECTION" jdbcType="VARCHAR"/>
            <result property="epoxyInspectionAuto" column="EPOXY_INSPECTION_AUTO" jdbcType="VARCHAR"/>
            <result property="grab" column="GRAB" jdbcType="VARCHAR"/>
            <result property="gripperOpen" column="GRIPPER_OPEN" jdbcType="VARCHAR"/>
            <result property="init" column="INIT" jdbcType="VARCHAR"/>
            <result property="lpBlemish" column="LP_BLEMISH" jdbcType="VARCHAR"/>
            <result property="lpOc" column="LP_OC" jdbcType="VARCHAR"/>
            <result property="lpOcCheck" column="LP_OC_CHECK" jdbcType="VARCHAR"/>
            <result property="lpOn" column="LP_ON" jdbcType="VARCHAR"/>
            <result property="lpOnBlemish" column="LP_ON_BLEMISH" jdbcType="VARCHAR"/>
            <result property="lpOff" column="LP_OFF" jdbcType="VARCHAR"/>
            <result property="moveToBlemishPos" column="MOVE_TO_BLEMISH_POS" jdbcType="VARCHAR"/>
            <result property="mtfCheck" column="MTF_CHECK" jdbcType="VARCHAR"/>
            <result property="mtfCheck1" column="MTF_CHECK1" jdbcType="VARCHAR"/>
            <result property="mtfCheck2" column="MTF_CHECK2" jdbcType="VARCHAR"/>
            <result property="mtfCheck3" column="MTF_CHECK3" jdbcType="VARCHAR"/>
            <result property="openCheck" column="OPEN_CHECK" jdbcType="VARCHAR"/>
            <result property="recordPosition" column="RECORD_POSITION" jdbcType="VARCHAR"/>
            <result property="reInit" column="RE_INIT" jdbcType="VARCHAR"/>
            <result property="saveOc" column="SAVE_OC" jdbcType="VARCHAR"/>
            <result property="saveMtf" column="SAVE_MTF" jdbcType="VARCHAR"/>
            <result property="senserReset" column="SENSER_RESET" jdbcType="VARCHAR"/>
            <result property="sid" column="SID" jdbcType="VARCHAR"/>
            <result property="uvon" column="UVON" jdbcType="VARCHAR"/>
            <result property="uvoff" column="UVOFF" jdbcType="VARCHAR"/>
            <result property="vcmHall" column="VCM_HALL" jdbcType="VARCHAR"/>
            <result property="vcmHall2" column="VCM_HALL2" jdbcType="VARCHAR"/>
            <result property="vcmMoveToZ" column="VCM_MOVE_TO_Z" jdbcType="VARCHAR"/>
            <result property="vcmMoveToZPos" column="VCM_MOVE_TO_Z_POS" jdbcType="VARCHAR"/>
            <result property="vcmPowerOffCheck" column="VCM_POWER_OFF_CHECK" jdbcType="VARCHAR"/>
            <result property="vcmInit" column="VCM_INIT" jdbcType="VARCHAR"/>
            <result property="vcmOisInit" column="VCM_OIS_INIT" jdbcType="VARCHAR"/>
            <result property="vcmPowerOff" column="VCM_POWER_OFF" jdbcType="VARCHAR"/>
            <result property="vcmPowerOn" column="VCM_POWER_ON" jdbcType="VARCHAR"/>
            <result property="vcmTop" column="VCM_TOP" jdbcType="VARCHAR"/>
            <result property="vcmTopHall" column="VCM_TOP_HALL" jdbcType="VARCHAR"/>
            <result property="vcmZ" column="VCM_Z" jdbcType="VARCHAR"/>
            <result property="vcmZHall" column="VCM_Z_HALL" jdbcType="VARCHAR"/>
            <result property="yLevel" column="Y_LEVEL" jdbcType="VARCHAR"/>
            <result property="aa1RoiCc" column="AA1_ROI_CC" jdbcType="VARCHAR"/>
            <result property="aa1RoiUl" column="AA1_ROI_UL" jdbcType="VARCHAR"/>
            <result property="aa1RoiUr" column="AA1_ROI_UR" jdbcType="VARCHAR"/>
            <result property="aa1RoiLl" column="AA1_ROI_LL" jdbcType="VARCHAR"/>
            <result property="aa1RoiLr" column="AA1_ROI_LR" jdbcType="VARCHAR"/>
            <result property="aa1Fc" column="AA1_FC" jdbcType="VARCHAR"/>
            <result property="aa1F1" column="AA1_F1" jdbcType="VARCHAR"/>
            <result property="aa1F2" column="AA1_F2" jdbcType="VARCHAR"/>
            <result property="aa1F3" column="AA1_F3" jdbcType="VARCHAR"/>
            <result property="aa1F4" column="AA1_F4" jdbcType="VARCHAR"/>
            <result property="aa1MtfOffAxisCheck1" column="AA1_MTF_OFF_AXIS_CHECK1" jdbcType="VARCHAR"/>
            <result property="aa1MtfOffAxisCheck2" column="AA1_MTF_OFF_AXIS_CHECK2" jdbcType="VARCHAR"/>
            <result property="aa1MtfOffAxisCheck3" column="AA1_MTF_OFF_AXIS_CHECK3" jdbcType="VARCHAR"/>
            <result property="aa1Target" column="AA1_TARGET" jdbcType="VARCHAR"/>
            <result property="aa1CcToCornerLimit" column="AA1_CC_TO_CORNER_LIMIT" jdbcType="VARCHAR"/>
            <result property="aa1CcToCornerLimitMin" column="AA1_CC_TO_CORNER_LIMIT_MIN" jdbcType="VARCHAR"/>
            <result property="aa1CornerScoreDifferenceRejectValue" column="AA1_CORNER_SCORE_DIFFERENCE_REJECT_VALUE" jdbcType="VARCHAR"/>
            <result property="aa1ZRef" column="AA1_Z_REF" jdbcType="VARCHAR"/>
            <result property="aa1SrchStep" column="AA1_SRCH_STEP" jdbcType="VARCHAR"/>
            <result property="aa1GoldenGlueThicknessMin" column="AA1_GOLDEN_GLUE_THICKNESS_MIN" jdbcType="VARCHAR"/>
            <result property="aa1GoldenGlueThicknessMax" column="AA1_GOLDEN_GLUE_THICKNESS_MAX" jdbcType="VARCHAR"/>
            <result property="aa2RoiCc" column="AA2_ROI_CC" jdbcType="VARCHAR"/>
            <result property="aa2RoiUl" column="AA2_ROI_UL" jdbcType="VARCHAR"/>
            <result property="aa2RoiUr" column="AA2_ROI_UR" jdbcType="VARCHAR"/>
            <result property="aa2RoiLl" column="AA2_ROI_LL" jdbcType="VARCHAR"/>
            <result property="aa2RoiLr" column="AA2_ROI_LR" jdbcType="VARCHAR"/>
            <result property="aa2Fc" column="AA2_FC" jdbcType="VARCHAR"/>
            <result property="aa2F1" column="AA2_F1" jdbcType="VARCHAR"/>
            <result property="aa2F2" column="AA2_F2" jdbcType="VARCHAR"/>
            <result property="aa2F3" column="AA2_F3" jdbcType="VARCHAR"/>
            <result property="aa2F4" column="AA2_F4" jdbcType="VARCHAR"/>
            <result property="aa2MtfOffAxisCheck1" column="AA2_MTF_OFF_AXIS_CHECK1" jdbcType="VARCHAR"/>
            <result property="aa2MtfOffAxisCheck2" column="AA2_MTF_OFF_AXIS_CHECK2" jdbcType="VARCHAR"/>
            <result property="aa2MtfOffAxisCheck3" column="AA2_MTF_OFF_AXIS_CHECK3" jdbcType="VARCHAR"/>
            <result property="aa2Target" column="AA2_TARGET" jdbcType="VARCHAR"/>
            <result property="aa2CcToCornerLimit" column="AA2_CC_TO_CORNER_LIMIT" jdbcType="VARCHAR"/>
            <result property="aa2CcToCornerLimitMin" column="AA2_CC_TO_CORNER_LIMIT_MIN" jdbcType="VARCHAR"/>
            <result property="aa2CornerScoreDifferenceRejectValue" column="AA2_CORNER_SCORE_DIFFERENCE_REJECT_VALUE" jdbcType="VARCHAR"/>
            <result property="aa2ZRef" column="AA2_Z_REF" jdbcType="VARCHAR"/>
            <result property="aa2SrchStep" column="AA2_SRCH_STEP" jdbcType="VARCHAR"/>
            <result property="aa2GoldenGlueThicknessMin" column="AA2_GOLDEN_GLUE_THICKNESS_MIN" jdbcType="VARCHAR"/>
            <result property="aa2GoldenGlueThicknessMax" column="AA2_GOLDEN_GLUE_THICKNESS_MAX" jdbcType="VARCHAR"/>
            <result property="aa3RoiCc" column="AA3_ROI_CC" jdbcType="VARCHAR"/>
            <result property="aa3RoiUl" column="AA3_ROI_UL" jdbcType="VARCHAR"/>
            <result property="aa3RoiUr" column="AA3_ROI_UR" jdbcType="VARCHAR"/>
            <result property="aa3RoiLl" column="AA3_ROI_LL" jdbcType="VARCHAR"/>
            <result property="aa3RoiLr" column="AA3_ROI_LR" jdbcType="VARCHAR"/>
            <result property="aa3Fc" column="AA3_FC" jdbcType="VARCHAR"/>
            <result property="aa3F1" column="AA3_F1" jdbcType="VARCHAR"/>
            <result property="aa3F2" column="AA3_F2" jdbcType="VARCHAR"/>
            <result property="aa3F3" column="AA3_F3" jdbcType="VARCHAR"/>
            <result property="aa3F4" column="AA3_F4" jdbcType="VARCHAR"/>
            <result property="aa3MtfOffAxisCheck1" column="AA3_MTF_OFF_AXIS_CHECK1" jdbcType="VARCHAR"/>
            <result property="aa3MtfOffAxisCheck2" column="AA3_MTF_OFF_AXIS_CHECK2" jdbcType="VARCHAR"/>
            <result property="aa3MtfOffAxisCheck3" column="AA3_MTF_OFF_AXIS_CHECK3" jdbcType="VARCHAR"/>
            <result property="aa3Target" column="AA3_TARGET" jdbcType="VARCHAR"/>
            <result property="aa3CcToCornerLimit" column="AA3_CC_TO_CORNER_LIMIT" jdbcType="VARCHAR"/>
            <result property="aa3CcToCornerLimitMin" column="AA3_CC_TO_CORNER_LIMIT_MIN" jdbcType="VARCHAR"/>
            <result property="aa3CornerScoreDifferenceRejectValue" column="AA3_CORNER_SCORE_DIFFERENCE_REJECT_VALUE" jdbcType="VARCHAR"/>
            <result property="aa3ZRef" column="AA3_Z_REF" jdbcType="VARCHAR"/>
            <result property="aa3SrchStep" column="AA3_SRCH_STEP" jdbcType="VARCHAR"/>
            <result property="aa3GoldenGlueThicknessMin" column="AA3_GOLDEN_GLUE_THICKNESS_MIN" jdbcType="VARCHAR"/>
            <result property="aa3GoldenGlueThicknessMax" column="AA3_GOLDEN_GLUE_THICKNESS_MAX" jdbcType="VARCHAR"/>
            <result property="mtfCheckFc" column="MTF_CHECK_FC" jdbcType="VARCHAR"/>
            <result property="mtfCheckF1" column="MTF_CHECK_F1" jdbcType="VARCHAR"/>
            <result property="mtfCheckF2" column="MTF_CHECK_F2" jdbcType="VARCHAR"/>
            <result property="mtfCheckF3" column="MTF_CHECK_F3" jdbcType="VARCHAR"/>
            <result property="mtfCheckF4" column="MTF_CHECK_F4" jdbcType="VARCHAR"/>
            <result property="mtfCheck1Fc" column="MTF_CHECK1_FC" jdbcType="VARCHAR"/>
            <result property="mtfCheck1F1" column="MTF_CHECK1_F1" jdbcType="VARCHAR"/>
            <result property="mtfCheck1F2" column="MTF_CHECK1_F2" jdbcType="VARCHAR"/>
            <result property="mtfCheck1F3" column="MTF_CHECK1_F3" jdbcType="VARCHAR"/>
            <result property="mtfCheck1F4" column="MTF_CHECK1_F4" jdbcType="VARCHAR"/>
            <result property="mtfCheck2Fc" column="MTF_CHECK2_FC" jdbcType="VARCHAR"/>
            <result property="mtfCheck2F1" column="MTF_CHECK2_F1" jdbcType="VARCHAR"/>
            <result property="mtfCheck2F2" column="MTF_CHECK2_F2" jdbcType="VARCHAR"/>
            <result property="mtfCheck2F3" column="MTF_CHECK2_F3" jdbcType="VARCHAR"/>
            <result property="mtfCheck2F4" column="MTF_CHECK2_F4" jdbcType="VARCHAR"/>
            <result property="mtfCheck3Fc" column="MTF_CHECK3_FC" jdbcType="VARCHAR"/>
            <result property="mtfCheck3F1" column="MTF_CHECK3_F1" jdbcType="VARCHAR"/>
            <result property="mtfCheck3F2" column="MTF_CHECK3_F2" jdbcType="VARCHAR"/>
            <result property="mtfCheck3F3" column="MTF_CHECK3_F3" jdbcType="VARCHAR"/>
            <result property="mtfCheck3F4" column="MTF_CHECK3_F4" jdbcType="VARCHAR"/>
            <result property="chartAlignmentXResMin" column="CHART_ALIGNMENT_X_RES_MIN" jdbcType="VARCHAR"/>
            <result property="chartAlignmentXResMax" column="CHART_ALIGNMENT_X_RES_MAX" jdbcType="VARCHAR"/>
            <result property="chartAlignmentYResMin" column="CHART_ALIGNMENT_Y_RES_MIN" jdbcType="VARCHAR"/>
            <result property="chartAlignmentYResMax" column="CHART_ALIGNMENT_Y_RES_MAX" jdbcType="VARCHAR"/>
            <result property="chartAlignment1XResMin" column="CHART_ALIGNMENT1_X_RES_MIN" jdbcType="VARCHAR"/>
            <result property="chartAlignment1XResMax" column="CHART_ALIGNMENT1_X_RES_MAX" jdbcType="VARCHAR"/>
            <result property="chartAlignment1YResMin" column="CHART_ALIGNMENT1_Y_RES_MIN" jdbcType="VARCHAR"/>
            <result property="chartAlignment1YResMax" column="CHART_ALIGNMENT1_Y_RES_MAX" jdbcType="VARCHAR"/>
            <result property="chartAlignment2XResMin" column="CHART_ALIGNMENT2_X_RES_MIN" jdbcType="VARCHAR"/>
            <result property="chartAlignment2XResMax" column="CHART_ALIGNMENT2_X_RES_MAX" jdbcType="VARCHAR"/>
            <result property="chartAlignment2YResMin" column="CHART_ALIGNMENT2_Y_RES_MIN" jdbcType="VARCHAR"/>
            <result property="chartAlignment2YResMax" column="CHART_ALIGNMENT2_Y_RES_MAX" jdbcType="VARCHAR"/>
            <result property="epoxyInspectionInterval" column="EPOXY_INSPECTION_INTERVAL" jdbcType="VARCHAR"/>
            <result property="vcmCheckResultCheckMin" column="VCM_CHECK_RESULT_CHECK_MIN" jdbcType="VARCHAR"/>
            <result property="vcmCheckResultCheckMax" column="VCM_CHECK_RESULT_CHECK_MAX" jdbcType="VARCHAR"/>
            <result property="recordPositionUtXyzMove" column="RECORD_POSITION_UT_XYZ_MOVE" jdbcType="VARCHAR"/>
            <result property="ocCheckXOffsetMin" column="OC_CHECK_X_OFFSET_MIN" jdbcType="VARCHAR"/>
            <result property="ocCheckXOffsetMax" column="OC_CHECK_X_OFFSET_MAX" jdbcType="VARCHAR"/>
            <result property="ocCheckYOffsetMin" column="OC_CHECK_Y_OFFSET_MIN" jdbcType="VARCHAR"/>
            <result property="ocCheckYOffsetMax" column="OC_CHECK_Y_OFFSET_MAX" jdbcType="VARCHAR"/>
            <result property="saveOcXOffsetMin" column="SAVE_OC_X_OFFSET_MIN" jdbcType="VARCHAR"/>
            <result property="saveOcXOffsetMax" column="SAVE_OC_X_OFFSET_MAX" jdbcType="VARCHAR"/>
            <result property="saveOcYOffsetMin" column="SAVE_OC_Y_OFFSET_MIN" jdbcType="VARCHAR"/>
            <result property="saveOcYOffsetMax" column="SAVE_OC_Y_OFFSET_MAX" jdbcType="VARCHAR"/>
            <result property="saveMtfCcMin" column="SAVE_MTF_CC_MIN" jdbcType="VARCHAR"/>
            <result property="saveMtfCcMax" column="SAVE_MTF_CC_MAX" jdbcType="VARCHAR"/>
            <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,PROD_TYPE,AA1,
        AA2,AA3,BACK_TO_POSITION,
        BLEMISH,CLAMP_ON_OFF,CHART_ALIGNMENT,
        CHART_ALIGNMENT1,CHART_ALIGNMENT2,DELAY,
        DESTROY,DESTROY_START,DISPENSE,
        EPOXY_INSPECTION,EPOXY_INSPECTION_AUTO,GRAB,
        GRIPPER_OPEN,INIT,LP_BLEMISH,
        LP_OC,LP_OC_CHECK,LP_ON,
        LP_ON_BLEMISH,LP_OFF,MOVE_TO_BLEMISH_POS,
        MTF_CHECK,MTF_CHECK1,MTF_CHECK2,
        MTF_CHECK3,OPEN_CHECK,RECORD_POSITION,
        RE_INIT,SAVE_OC,SAVE_MTF,
        SENSER_RESET,SID,UVON,
        UVOFF,VCM_HALL,VCM_HALL2,
        VCM_MOVE_TO_Z,VCM_MOVE_TO_Z_POS,VCM_POWER_OFF_CHECK,
        VCM_INIT,VCM_OIS_INIT,VCM_POWER_OFF,
        VCM_POWER_ON,VCM_TOP,VCM_TOP_HALL,
        VCM_Z,VCM_Z_HALL,Y_LEVEL,
        AA1_ROI_CC,AA1_ROI_UL,AA1_ROI_UR,
        AA1_ROI_LL,AA1_ROI_LR,AA1_FC,
        AA1_F1,AA1_F2,AA1_F3,
        AA1_F4,AA1_MTF_OFF_AXIS_CHECK1,AA1_MTF_OFF_AXIS_CHECK2,
        AA1_MTF_OFF_AXIS_CHECK3,AA1_TARGET,AA1_CC_TO_CORNER_LIMIT,
        AA1_CC_TO_CORNER_LIMIT_MIN,AA1_CORNER_SCORE_DIFFERENCE_REJECT_VALUE,AA1_Z_REF,
        AA1_SRCH_STEP,AA1_GOLDEN_GLUE_THICKNESS_MIN,AA1_GOLDEN_GLUE_THICKNESS_MAX,
        AA2_ROI_CC,AA2_ROI_UL,AA2_ROI_UR,
        AA2_ROI_LL,AA2_ROI_LR,AA2_FC,
        AA2_F1,AA2_F2,AA2_F3,
        AA2_F4,AA2_MTF_OFF_AXIS_CHECK1,AA2_MTF_OFF_AXIS_CHECK2,
        AA2_MTF_OFF_AXIS_CHECK3,AA2_TARGET,AA2_CC_TO_CORNER_LIMIT,
        AA2_CC_TO_CORNER_LIMIT_MIN,AA2_CORNER_SCORE_DIFFERENCE_REJECT_VALUE,AA2_Z_REF,
        AA2_SRCH_STEP,AA2_GOLDEN_GLUE_THICKNESS_MIN,AA2_GOLDEN_GLUE_THICKNESS_MAX,
        AA3_ROI_CC,AA3_ROI_UL,AA3_ROI_UR,
        AA3_ROI_LL,AA3_ROI_LR,AA3_FC,
        AA3_F1,AA3_F2,AA3_F3,
        AA3_F4,AA3_MTF_OFF_AXIS_CHECK1,AA3_MTF_OFF_AXIS_CHECK2,
        AA3_MTF_OFF_AXIS_CHECK3,AA3_TARGET,AA3_CC_TO_CORNER_LIMIT,
        AA3_CC_TO_CORNER_LIMIT_MIN,AA3_CORNER_SCORE_DIFFERENCE_REJECT_VALUE,AA3_Z_REF,
        AA3_SRCH_STEP,AA3_GOLDEN_GLUE_THICKNESS_MIN,AA3_GOLDEN_GLUE_THICKNESS_MAX,
        MTF_CHECK_FC,MTF_CHECK_F1,MTF_CHECK_F2,
        MTF_CHECK_F3,MTF_CHECK_F4,MTF_CHECK1_FC,
        MTF_CHECK1_F1,MTF_CHECK1_F2,MTF_CHECK1_F3,
        MTF_CHECK1_F4,MTF_CHECK2_FC,MTF_CHECK2_F1,
        MTF_CHECK2_F2,MTF_CHECK2_F3,MTF_CHECK2_F4,
        MTF_CHECK3_FC,MTF_CHECK3_F1,MTF_CHECK3_F2,
        MTF_CHECK3_F3,MTF_CHECK3_F4,CHART_ALIGNMENT_X_RES_MIN,
        CHART_ALIGNMENT_X_RES_MAX,CHART_ALIGNMENT_Y_RES_MIN,CHART_ALIGNMENT_Y_RES_MAX,
        CHART_ALIGNMENT1_X_RES_MIN,CHART_ALIGNMENT1_X_RES_MAX,CHART_ALIGNMENT1_Y_RES_MIN,
        CHART_ALIGNMENT1_Y_RES_MAX,CHART_ALIGNMENT2_X_RES_MIN,CHART_ALIGNMENT2_X_RES_MAX,
        CHART_ALIGNMENT2_Y_RES_MIN,CHART_ALIGNMENT2_Y_RES_MAX,EPOXY_INSPECTION_INTERVAL,
        VCM_CHECK_RESULT_CHECK_MIN,VCM_CHECK_RESULT_CHECK_MAX,RECORD_POSITION_UT_XYZ_MOVE,
        OC_CHECK_X_OFFSET_MIN,OC_CHECK_X_OFFSET_MAX,OC_CHECK_Y_OFFSET_MIN,
        OC_CHECK_Y_OFFSET_MAX,SAVE_OC_X_OFFSET_MIN,SAVE_OC_X_OFFSET_MAX,
        SAVE_OC_Y_OFFSET_MIN,SAVE_OC_Y_OFFSET_MAX,SAVE_MTF_CC_MIN,
        SAVE_MTF_CC_MAX,CREATE_BY,CREATE_TIME,
        UPDATE_BY,UPDATE_TIME,REMARK
    </sql>


    <select id="checkIfExists" resultType="int">
        SELECT COUNT(1)
        FROM IMBIZ.IM_AA_LIST_PARAMS_STD_MODEL
        WHERE PROD_TYPE = #{prodType}
    </select>
</mapper>
