<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.im.qcp.mapper.QcpParamsMapper">

    <resultMap id="selectQcpParamsOverviewListResult" type="QcpParamsVo">
        <result property="factoryName" column="company_name" />
        <result property="groupName" column="group_name" />
        <result property="deviceType" column="devicetype" />
        <result property="ttlEqs" column="ttl_eqs" />
        <result property="onlineEqs" column="online_eqs" />
        <result property="offlineEqs" column="offline_eqs" />
        <result property="qcpParamsIsNull" column="qcp_is_null" />
        <result property="remoteControlOff" column="remote_control_off" />
    </resultMap>

    <resultMap id="selectQcpParamsListResult" type="QcpParamsDetailVo">
        <result property="factoryName" column="company_name" />
        <result property="groupName" column="group_name" />
        <result property="deviceType" column="devicetype" />
        <result property="eqId" column="eq_id" />
        <result property="mcId" column="mc_id" />
        <result property="prodType" column="prod_type" />
        <result property="description" column="description" />
    </resultMap>

    <select id="selectQcpParamsOverviewList" resultMap="selectQcpParamsOverviewListResult">
        with ta as (select device_id, create_date, remote_control
                    from (select device_id,
                                 create_date,
                                 remote_control,
                                 row_number() over(partition by device_id order by create_date desc) rank
                          from QT_MODEL_DDC.ALL_DEVICE_REMOTE
                          where create_date > minutes_sub(now(), 30) and remote_control REGEXP '^-?[0-9]+(\.[0-9]+)?$'
                          ) a
                    where rank = 1),

             tb as (
                 select b.company_name,
                        b.dep_name,
                        b.group_name,
                        a.device_m_id,
                        a.devicename,
                        a.devicetype,
                        a.machine_no,
                        c.pbox_id,
                        e.remote_control
                 from QT_MODEL_EMS.T_DEVICE_CALCGD1JH1U82GWWIONK a
                      left join QT_MODEL_EMS.V_CODE_NAME b
                                on a.hierarchy_code = b.hierarchy_show_code
                      left join QT_MODEL_EMS.T_PBOX_INFO c
                                on c.dev_id = a.device_id
                      left join QT_MODEL_EMS.T_COLLECTOR_PROGRAM d
                                on c.collector_program_id = d.id
                      left join ta e
                                on a.device_id = e.device_id
                 where dep_name = 'COB车间'
                   and a.devicetype in ('AA', 'WB', 'DB', 'HM')),

             tc as (select eqid, machine_no, is_valid, device_type, version, ask_date
                    from QT_MODEL_MES.T_PARAMETER_RESULT
                    where ask_date > hours_sub(now(), 3)
                      and device_type in ('AA', 'WB', 'DB', 'HM')),

             td as (select distinct (eqid) from tc),

             te as (
                 select a.company_name,
                        a.group_name,
                        a.devicetype,
                        count(group_name) offline_eqs
                 from tb a
                 where a.device_m_id not in (select eqid from td)
                 group by a.company_name, a.group_name, a.devicetype),

             tf as (
                 select a.company_name,
                        a.group_name,
                        a.devicetype,
                        sum(case
                                when (a.devicetype in ('AA', 'DB', 'HM') and remote_control != '2') or
                                     (a.devicetype = 'WB' and remote_control != '5') then 1
                                else 0 end) remote_control_off
                 from tb a
                 where a.device_m_id in (select eqid from td)
                 group by a.company_name, a.group_name, a.devicetype),

             tg as (
                 select a.company_name,
                        a.group_name,
                        a.devicetype,
                        count(group_name) ttl_eqs
                 from tb a
                 group by a.company_name, a.group_name, a.devicetype),

             th as (
                 select machine_no, is_valid, device_type, count(version) as qcp_is_null
                 from (
                          select distinct eqid, machine_no, is_valid, device_type, version
                          from tc
                          where ask_date > minutes_sub(now(), 8)
                            and version = 'QCP标准参数空'
--                             and version is not null
                            ) a
                 group by machine_no, is_valid, device_type)


        select a.company_name,
               a.group_name,
               a.devicetype,
               a.ttl_eqs,
               (a.ttl_eqs - a.offline_eqs - a.qcp_is_null) online_eqs,
               a.qcp_is_null,
               a.offline_eqs,
               a.remote_control_off
        from (
                 select a.company_name,
                        a.group_name,
                        a.devicetype,
                        a.ttl_eqs,
                        nvl(b.offline_eqs, 0)              offline_eqs,
                        nvl(c.qcp_is_null, 0)             qcp_is_null,
                        nvl(d.remote_control_off, 0) remote_control_off
                 from tg a
                          left join te b
                                    on a.company_name = b.company_name
                                        and a.group_name = b.group_name
                                        and a.devicetype = b.devicetype
                          left join th c
                                    on a.company_name = c.machine_no
                                        and a.group_name = c.is_valid
                                        and a.devicetype = c.device_type
                          left join tf d
                                    on a.company_name = d.company_name
                                        and a.group_name = d.group_name
                                        and a.devicetype = d.devicetype) a
        order by (case a.company_name
                      when "台虹厂区" then 1
                      when "古城厂区" then 2
                      else 3 end),
                 (case
                      when group_name like "%COB一%" then 1
                      when group_name like "%COB二%" then 2
                      when group_name like "%COB三%" then 3
                      when group_name like "%COB四%" then 4
                      when group_name like "%COB五%" then 5
                      when group_name like "%COB六%" then 6
                      when group_name like "%COB七%" then 7
                      when group_name like "%COB八%" then 8
                      when group_name like "%COB九%" then 9
                      when group_name like "%COB十%" then 10
                      when group_name like "%试产一%" then 11
                      when group_name like "%试产二%" then 12
                      when group_name like "%试产三%" then 13
                      else 14 end),
                 (case a.devicetype
                      when "DB" then 1
                      when "WB" then 2
                      when "HM" then 3
                      when "AA" then 4
                      else 5 end)
    </select>

    <select id="selectQcpParamsList" resultMap="selectQcpParamsListResult">
        with ta as (
        select
            distinct eqid,
            machine_no,
            is_valid,
            device_type,
            part_spec,
            version
        from
            QT_MODEL_MES.T_PARAMETER_RESULT
        where
            ask_date > minutes_sub(now(), 8)
            and device_type in ('AA', 'WB', 'DB', 'HM')
            <choose>
                <when test="label == 1">
                    and version = 'QCP标准参数空'
                    and version is not null
                </when>
            </choose>),

        tb as (
                 select b.company_name,
                        b.group_name,
                        a.devicetype,
                        e.eqid as eq_id,
                        a.machine_no as mc_id,
                        e.part_spec as prod_type,
                        e.version as description
                 from QT_MODEL_EMS.T_DEVICE_CALCGD1JH1U82GWWIONK a
                          left join QT_MODEL_EMS.V_CODE_NAME b
                                    on a.hierarchy_code = b.hierarchy_show_code
                          left join QT_MODEL_EMS.T_PBOX_INFO c
                                    on c.dev_id = a.device_id
                          left join QT_MODEL_EMS.T_COLLECTOR_PROGRAM d
                                    on c.collector_program_id = d.id
                          inner join ta e
                                    on a.device_m_id = e.eqid
                 where dep_name = 'COB车间'
                   and a.devicetype in ('AA', 'WB', 'DB', 'HM'))

        select a.company_name,
               a.group_name,
               a.devicetype,
               a.eq_id,
               a.mc_id,
               a.prod_type,
               a.description
        from tb a
        <where>
            <if test="factoryName != null and factoryName != ''"> and a.company_name = #{factoryName} </if>
            <if test="groupName != null and groupName != ''"> and a.group_name = #{groupName} </if>
            <if test="deviceType != null and deviceType != ''"> and a.devicetype = #{deviceType} </if>
        </where>
        order by company_name, group_name, devicetype, eq_id, mc_id
    </select>

    <select id="getMaxTime" resultType="java.lang.String">
        select max(ask_date) maxTime from QT_MODEL_MES.T_PARAMETER_RESULT
    </select>
</mapper>
