<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.im.aa.mapper.statistics.AaListParamsPercentageMapper">
    <resultMap id="aaListParamsPercentageResult" type="com.qtech.im.aa.vo.statistics.AaListParamsPercentageVo">
        <result column="company_name" property="factoryName"/>
        <result column="group_name" property="groupName"/>
        <result column="eq_id" property="eqId"/>
        <result column="mc_id" property="mcId"/>
        <result column="code" property="statusCode"/>
        <result column="prod_type" property="prodType"/>
        <result column="compute_cnt" property="totalCnt"/>
        <result column="ok_cnt" property="okCnt"/>
        <result column="err_cnt" property="ngCnt"/>
        <result column="err_ratio" property="errRatio"/>
    </resultMap>

    <select id="selectAaParamsPercentageList" parameterType="com.qtech.im.aa.vo.statistics.AaListParamsPercentageVo" resultMap="aaListParamsPercentageResult">
        select
            company_name,
            group_name,
            eq_id,
            mc_id,
            prod_type,
            compute_cnt,
            ok_cnt,
            err_cnt,
            err_ratio
        from
            (
            select
                company_name,
                group_name,
                eq_id,
                mc_id,
                prod_type,
                compute_cnt,
                ok_cnt,
                err_cnt,
                err_cnt / compute_cnt as err_ratio
            from
                (
                select
                    company_name,
                    group_name,
                    device_m_id as eq_id,
                    machine_no as mc_id,
                    prod_type,
                    count(code) as compute_cnt,
                    sum(case when code = 0 then 1 else 0 end) as ok_cnt,
                    sum(case when code != 0 then 1 else 0 end) as err_cnt
                from
                    (
                    select
                        a.device_id,
                        b.company_name,
                        b.dep_name,
                        b.group_name,
                        a.device_m_id,
                        devicetype,
                        a.devicename,
                        devicenetip,
                        c.pbox_id,
                        machine_no
                    from
                        qtech_eq_ods.ems_t_device a
                    inner join qtech_eq_ods.ems_t_pbox_info c on
                        c.dev_id = a.device_id
                    left join qtech_eq_ods.ems_v_code_name b on
                        a.hierarchy_code = b.hierarchy_show_code
                    left join qtech_eq_ods.ems_t_collector_program d on
                        c.collector_program_id = d.id) ta,
                    (
                    select
                        sim_id,
                        prod_type,
                        chk_dt,
                        code,
                        description
                    from
                        qtech_eq_dwd.im_aa_list_chk_result_detail
                    <where>
                        <choose>
                            <when test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != ''">
                                and chk_dt between #{params.beginTime} and #{params.endTime}
                            </when>
                            <otherwise>
                                and chk_dt > hours_sub(now(), 24)
                            </otherwise>
                        </choose>
                        <if test="statusCode != null">
                            and code = #{statusCode}
                        </if>
                    </where>) tb
                where
                    ta.pbox_id = tb.sim_id
                <choose>
                    <when test="(factoryName == null or factoryName == '') and (groupName == null or groupName == '') and (prodType == null or prodType == '')
                    and (eqId == null or eqId == '') and (mcId == null or mcId == '')">
                        group by company_name, group_name, machine_no, device_m_id, prod_type
                    </when>
                    <otherwise>
                        group by company_name, group_name, machine_no, device_m_id, prod_type
                        <trim prefix="having" prefixOverrides="and">
                            <if test="factoryName !=null and factoryName != ''"> and company_name = #{factoryName} </if>
                            <if test="groupName !=null and groupName != ''"> and group_name = #{groupName} </if>
                            <if test="prodType != null and prodType != ''"> and lower(prod_type) like concat('%', lower(#{prodType}), '%') </if>
                            <if test="eqId != null and eqId != ''"> and lower(device_m_id) like concat('%', lower(#{eqId}), '%') </if>
                            <if test="mcId != null and mcId != ''"> and lower(machine_no) like concat('%', lower(#{mcId}), '%') </if>
                        </trim>
                    </otherwise>
                </choose>) tc
            <choose>
                <when test="flag == 'err'">
                    <where>
                        and err_cnt > 0
                    </where>) td
                </when>
                <when test="flag == 'ok'">
                    <where>
                        and ok_cnt > 0
                    </where>) td
                </when>
                <otherwise>) td
                </otherwise>
            </choose>
        order by <include refid="com.qtech.im.common.mapper.CommonSqlMapper.companyOrder" />,
            <include refid="com.qtech.im.common.mapper.CommonSqlMapper.groupOrder"></include>, mc_id asc
    </select>

</mapper>